# Homework 2 - Rachel Pierce
#### September 2021

## Instructions:
### Import budget_data CSV file and calculate the following:
1. The total number of months included in the dataset.
2. The net total amount of Profit/Losses over the entire period.
1. The average of the changes in Profit/Losses over the entire period.
2. The greatest increase in profits (date and amount) over the entire period.
1. The greatest decrease in losses (date and amount) over the entire period.

In [2]:
import csv
filepath = "C:/Users/piercerachel/Desktop/git/python-homework/budget_data.csv"

records = []
months = 0
net_profit = 0
month_chg = 0
avg_chg = 0
greatest_increase = ["",0]
greatest_decrease = ["",0]
net_chg_list = []

## Question 1:  Calculate the total number of months included in the dataset.

In [3]:
# Calculate the total number of months included in the dataset.

with open(filepath, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    csv_header = next(csvreader)
    print(csv_header)


    for row in csvreader:
        print(row)
        
        date = row[0]
        profit_loss = int(row[1])
        months = months + 1      
        print(months)
        
# Answer: Total number of months is 86

['Date', 'Profit/Losses']
['Jan-2010', '867884']
1
['Feb-2010', '984655']
2
['Mar-2010', '322013']
3
['Apr-2010', '-69417']
4
['May-2010', '310503']
5
['Jun-2010', '522857']
6
['Jul-2010', '1033096']
7
['Aug-2010', '604885']
8
['Sep-2010', '-216386']
9
['Oct-2010', '477532']
10
['Nov-2010', '893810']
11
['Dec-2010', '-80353']
12
['Jan-2011', '779806']
13
['Feb-2011', '-335203']
14
['Mar-2011', '697845']
15
['Apr-2011', '793163']
16
['May-2011', '485070']
17
['Jun-2011', '584122']
18
['Jul-2011', '62729']
19
['Aug-2011', '668179']
20
['Sep-2011', '899906']
21
['Oct-2011', '834719']
22
['Nov-2011', '132003']
23
['Dec-2011', '309978']
24
['Jan-2012', '-755566']
25
['Feb-2012', '1170593']
26
['Mar-2012', '252788']
27
['Apr-2012', '1151518']
28
['May-2012', '817256']
29
['Jun-2012', '570757']
30
['Jul-2012', '506702']
31
['Aug-2012', '-1022534']
32
['Sep-2012', '475062']
33
['Oct-2012', '779976']
34
['Nov-2012', '144175']
35
['Dec-2012', '542494']
36
['Jan-2013', '359333']
37
['Feb-2013', '321469']
38
['Mar-2013', '67780']
39
['Apr-2013', '471435']
40
['May-2013', '565603']
41
['Jun-2013', '872480']
42
['Jul-2013', '789480']
43
['Aug-2013', '999942']
44
['Sep-2013', '-1196225']
45
['Oct-2013', '268997']
46
['Nov-2013', '-687986']
47
['Dec-2013', '1150461']
48
['Jan-2014', '682458']
49
['Feb-2014', '617856']
50
['Mar-2014', '824098']
51
['Apr-2014', '581943']
52
['May-2014', '132864']
53
['Jun-2014', '448062']
54
['Jul-2014', '689161']
55
['Aug-2014', '800701']
56
['Sep-2014', '1166643']
57
['Oct-2014', '947333']
58
['Nov-2014', '578668']
59
['Dec-2014', '988505']
60
['Jan-2015', '1139715']
61
['Feb-2015', '1029471']
62
['Mar-2015', '687533']
63
['Apr-2015', '-524626']
64
['May-2015', '158620']
65
['Jun-2015', '87795']
66
['Jul-2015', '423389']
67
['Aug-2015', '840723']
68
['Sep-2015', '568529']
69
['Oct-2015', '332067']
70
['Nov-2015', '989499']
71
['Dec-2015', '778237']
72
['Jan-2016', '650000']
73
['Feb-2016', '-1100387']
74
['Mar-2016', '-174946']
75
['Apr-2016', '757143']
76
['May-2016', '445709']
77
['Jun-2016', '712961']
78
['Jul-2016', '-1163797']
79
['Aug-2016', '569899']
80
['Sep-2016', '768450']
81
['Oct-2016', '102685']
82
['Nov-2016', '795914']
83
['Dec-2016', '60988']
84
['Jan-2017', '138230']
85
['Feb-2017', '671099']
86

### Answer: 86

## Question 2: Calculate the net total amount of Profit/Losses over the entire period.

In [4]:
# Calculate the net total amount of Profit/Losses over the entire period.
 
with open(filepath, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    csv_header = next(csvreader)
    print(csv_header)
     
    for row in csvreader:
        print(row)
        
        date = row[0]
        profit_loss = int(row[1])
        net_profit = net_profit + profit_loss     
        print(net_profit)
    
# Answer: Total net profit is 38382578

['Date', 'Profit/Losses']
['Jan-2010', '867884']
867884
['Feb-2010', '984655']
1852539
['Mar-2010', '322013']
2174552
['Apr-2010', '-69417']
2105135
['May-2010', '310503']
2415638
['Jun-2010', '522857']
2938495
['Jul-2010', '1033096']
3971591
['Aug-2010', '604885']
4576476
['Sep-2010', '-216386']
4360090
['Oct-2010', '477532']
4837622
['Nov-2010', '893810']
5731432
['Dec-2010', '-80353']
5651079
['Jan-2011', '779806']
6430885
['Feb-2011', '-335203']
6095682
['Mar-2011', '697845']
6793527
['Apr-2011', '793163']
7586690
['May-2011', '485070']
8071760
['Jun-2011', '584122']
8655882
['Jul-2011', '62729']
8718611
['Aug-2011', '668179']
9386790
['Sep-2011', '899906']
10286696
['Oct-2011', '834719']
11121415
['Nov-2011', '132003']
11253418
['Dec-2011', '309978']
11563396
['Jan-2012', '-755566']
10807830
['Feb-2012', '1170593']
11978423
['Mar-2012', '252788']
12231211
['Apr-2012', '1151518']
13382729
['May-2012', '817256']
14199985
['Jun-2012', '570757']
14770742
['Jul-2012', '506702']
15277444
['Aug-2012', '-1022534']
14254910
['Sep-2012', '475062']
14729972
['Oct-2012', '779976']
15509948
['Nov-2012', '144175']
15654123
['Dec-2012', '542494']
16196617
['Jan-2013', '359333']
16555950
['Feb-2013', '321469']
16877419
['Mar-2013', '67780']
16945199
['Apr-2013', '471435']
17416634
['May-2013', '565603']
17982237
['Jun-2013', '872480']
18854717
['Jul-2013', '789480']
19644197
['Aug-2013', '999942']
20644139
['Sep-2013', '-1196225']
19447914
['Oct-2013', '268997']
19716911
['Nov-2013', '-687986']
19028925
['Dec-2013', '1150461']
20179386
['Jan-2014', '682458']
20861844
['Feb-2014', '617856']
21479700
['Mar-2014', '824098']
22303798
['Apr-2014', '581943']
22885741
['May-2014', '132864']
23018605
['Jun-2014', '448062']
23466667
['Jul-2014', '689161']
24155828
['Aug-2014', '800701']
24956529
['Sep-2014', '1166643']
26123172
['Oct-2014', '947333']
27070505
['Nov-2014', '578668']
27649173
['Dec-2014', '988505']
28637678
['Jan-2015', '1139715']
29777393
['Feb-2015', '1029471']
30806864
['Mar-2015', '687533']
31494397
['Apr-2015', '-524626']
30969771
['May-2015', '158620']
31128391
['Jun-2015', '87795']
31216186
['Jul-2015', '423389']
31639575
['Aug-2015', '840723']
32480298
['Sep-2015', '568529']
33048827
['Oct-2015', '332067']
33380894
['Nov-2015', '989499']
34370393
['Dec-2015', '778237']
35148630
['Jan-2016', '650000']
35798630
['Feb-2016', '-1100387']
34698243
['Mar-2016', '-174946']
34523297
['Apr-2016', '757143']
35280440
['May-2016', '445709']
35726149
['Jun-2016', '712961']
36439110
['Jul-2016', '-1163797']
35275313
['Aug-2016', '569899']
35845212
['Sep-2016', '768450']
36613662
['Oct-2016', '102685']
36716347
['Nov-2016', '795914']
37512261
['Dec-2016', '60988']
37573249
['Jan-2017', '138230']
37711479
['Feb-2017', '671099']
38382578

### Answer: $ 38382578

## Question 3-5: 
#### Calculate the average of the changes in Profit/Losses over the entire Period.
#### Calculate the greatest increase in profits (date and amount) over the entire period.
#### Calculate the greatest decrease in losses (date and amount) over the entire period.

In [5]:
# The average of the changes in Profit/Losses over the entire period.
# The greatest increase in profits (date and amount) over the entire period.
# The greatest decrease in losses (date and amount) over the entire period.

with open(filepath, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    csv_header = next(csvreader)
    csv_header = next(csvreader)
    print(csv_header)
    prev_mth = int(csv_header[1]) 
    for row in csvreader:
        print(row)
        
        date = row[0]
       
        # profit_loss = int(row[1])
        net_chg = int(row[1]) - prev_mth
        prev_mth = int(row[1])
        net_chg_list = net_chg_list + [net_chg]
        
        if net_chg > greatest_increase[1]:
            greatest_increase[0] = row[0]
            greatest_increase[1] = net_chg
        
        if net_chg < greatest_decrease[1]:
            greatest_decrease[0] = row[0]
            greatest_decrease[1] = net_chg
        
    sum_net_chg = sum(net_chg_list)
    month_size = len(net_chg_list)
    print(sum_net_chg/month_size)
    print(greatest_increase)
    print(greatest_decrease)
    

# Answer: Average change is -2315.12
# Answer: Greatest Increase in profits is from February 2012 of 1926159
# Answer: Greatest Decrease in profits is from September 2013 of -2196167

['Jan-2010', '867884']
['Feb-2010', '984655']
['Mar-2010', '322013']
['Apr-2010', '-69417']
['May-2010', '310503']
['Jun-2010', '522857']
['Jul-2010', '1033096']
['Aug-2010', '604885']
['Sep-2010', '-216386']
['Oct-2010', '477532']
['Nov-2010', '893810']
['Dec-2010', '-80353']
['Jan-2011', '779806']
['Feb-2011', '-335203']
['Mar-2011', '697845']
['Apr-2011', '793163']
['May-2011', '485070']
['Jun-2011', '584122']
['Jul-2011', '62729']
['Aug-2011', '668179']
['Sep-2011', '899906']
['Oct-2011', '834719']
['Nov-2011', '132003']
['Dec-2011', '309978']
['Jan-2012', '-755566']
['Feb-2012', '1170593']
['Mar-2012', '252788']
['Apr-2012', '1151518']
['May-2012', '817256']
['Jun-2012', '570757']
['Jul-2012', '506702']
['Aug-2012', '-1022534']
['Sep-2012', '475062']
['Oct-2012', '779976']
['Nov-2012', '144175']
['Dec-2012', '542494']
['Jan-2013', '359333']
['Feb-2013', '321469']
['Mar-2013', '67780']
['Apr-2013', '471435']
['May-2013', '565603']
['Jun-2013', '872480']
['Jul-2013', '789480']
['Aug-2013', '999942']
['Sep-2013', '-1196225']
['Oct-2013', '268997']
['Nov-2013', '-687986']
['Dec-2013', '1150461']
['Jan-2014', '682458']
['Feb-2014', '617856']
['Mar-2014', '824098']
['Apr-2014', '581943']
['May-2014', '132864']
['Jun-2014', '448062']
['Jul-2014', '689161']
['Aug-2014', '800701']
['Sep-2014', '1166643']
['Oct-2014', '947333']
['Nov-2014', '578668']
['Dec-2014', '988505']
['Jan-2015', '1139715']
['Feb-2015', '1029471']
['Mar-2015', '687533']
['Apr-2015', '-524626']
['May-2015', '158620']
['Jun-2015', '87795']
['Jul-2015', '423389']
['Aug-2015', '840723']
['Sep-2015', '568529']
['Oct-2015', '332067']
['Nov-2015', '989499']
['Dec-2015', '778237']
['Jan-2016', '650000']
['Feb-2016', '-1100387']
['Mar-2016', '-174946']
['Apr-2016', '757143']
['May-2016', '445709']
['Jun-2016', '712961']
['Jul-2016', '-1163797']
['Aug-2016', '569899']
['Sep-2016', '768450']
['Oct-2016', '102685']
['Nov-2016', '795914']
['Dec-2016', '60988']
['Jan-2017', '138230']
['Feb-2017', '671099']
-2315.1176470588234
['Feb-2012', 1926159]
['Sep-2013', -2196167]

### Answers:
#### Average change is -2315.12.
#### Greatest Increase in profits is from February 2012 of 1926159.
#### Greatest Decrease in profits is from September 2013 of -2196167.

# Resulting Analysis:

In [68]:
# Resulting Analysis:
    
# Financial Analysis

# ------------------------
print("Total Months: ",months)

print("Total: $",net_profit)

print("Average Change: $",round(sum_net_chg/month_size,2))

print("Greatest Increase in Profits: ",greatest_increase)

print("Greatest Decrease in Profits: ",greatest_decrease)

Total Months:  86
Total: $ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits:  ['Feb-2012', 1926159]
Greatest Decrease in Profits:  ['Sep-2013', -2196167]

## Financial Analysis:
## -------------------
### Total Months:  86 
### Total: \$38382578 
### Average Change: \$ -2315.12 
### Greatest Increase in Profits:  Feb-2012 (\$1926159)
### Greatest Decrease in Profits:  Sep-2013 (\$-2196167)
## -------------------

## Final Task: Print to txt file

In [90]:
#create variables to easily print to txt file

Answer1 = (f"Total Months: ", months)
Answer2 = (f"Total: $",net_profit)
Answer3 = (f"Average Change: $",round(sum_net_chg/month_size,2))
Answer4 = (f"Greatest Increase in Profits: ",greatest_increase)
Answer5 = (f"Greatest Decrease in Profits: ",greatest_decrease)

# write to txt file

output_path = 'pythonhw.txt'
output_path = "C:/Users/piercerachel/Desktop/git/python-homework/PyBank/pythonhw.txt"

with open(output_path, 'w') as file:
    file.write(f"Financial Analysis: \n")
    file.write(f"{Answer1}\n")
    file.write(f"{Answer2}\n")
    file.write(f"{Answer3}\n")
    file.write(f"{Answer4}\n")
    file.write(f"{Answer5}\n")